<div class="overlay-container">
  <div class="side-panel-right panel-container-vertical default-collapse" attr.data-visible="{{ !!node }}">
    <section class="info">
      <h2><span *ngIf="node"> Node #{{ node }} </span></h2>
      <p>
        <code>{{nodeDetails}}</code>
      </p>
    </section>
    <section class="info">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, ut, molestias praesentium quasi fugiat veritatis vel voluptates, eveniet qui possimus ad ab ullam ratione? Et rerum dolores asperiores error voluptas?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sunt ut praesentium explicabo esse quod autem quam illo corporis! Possimus deserunt, eius rem vel nobis provident dolores dolor. Illum, eum?
      Placeat autem recusandae ipsum, quos, maiores voluptas quam omnis ducimus alias accusantium illo nemo. Sunt repellat modi eveniet possimus autem neque nulla iure dicta veniam. Veniam dolorem dolor dolores illum.
      Illum, mollitia nobis minima dolorem voluptas illo qui distinctio ut quo, veniam nihil magni? Fugiat nobis, consectetur illum laboriosam dolor voluptatum non? Ratione cupiditate illum porro iste quam voluptate maxime.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, cum alias et perferendis assumenda nesciunt voluptate fugit at harum hic ea necessitatibus aspernatur quaerat laudantium reprehenderit a nemo quod ad?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates debitis reprehenderit molestias harum exercitationem earum molestiae, fugit ipsum, odio totam consequatur. Quas quidem totam esse nesciunt harum suscipit ab eos.</p>
    </section>
    <section class="info">
      <h3> More Info Down Here </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quos libero. Consectetur molestias perspiciatis cumque aliquam delectus similique quam eaque impedit voluptatibus quasi accusamus corrupti beatae animi est, iste et.
        Deserunt magni modi expedita laudantium magnam sint fugit? Quod asperiores neque voluptatibus porro pariatur iusto, assumenda sunt optio, amet dolorem nostrum quibusdam enim alias quis nam, omnis harum veniam fugiat.
        Debitis magni ab alias tempora quia blanditiis culpa, necessitatibus ut veritatis odio. Ex possimus laboriosam dolorum sunt cum reiciendis quam ipsa, pariatur aliquid? Placeat delectus temporibus distinctio eaque voluptatibus commodi.
        Nostrum, facilis nulla odio in itaque non at eveniet fuga quidem perferendis cupiditate impedit. Assumenda, a repellat soluta veritatis provident ab, eius maiores quos quis fugit eligendi est inventore tempore?
        Qui est repellat sunt cumque facilis vel quae, beatae in fugiat aliquid illo ab commodi, ipsa ex cupiditate nihil minus corporis. Quia sit iusto, architecto enim tempore aperiam ea nemo!
        Animi voluptate ipsum harum eveniet illo aliquam ipsa doloremque suscipit ipsam vitae. Magnam, beatae optio. Possimus rerum adipisci ex voluptate et omnis blanditiis! Dolorum itaque doloribus similique iusto autem praesentium.
        Asperiores accusamus ex odit molestias vitae tenetur earum odio beatae itaque natus ullam officia veritatis nemo, quo vero temporibus quidem sed reprehenderit architecto perferendis suscipit voluptatibus non assumenda nobis. Veniam?
        Placeat quam itaque tempora quisquam. Ipsa assumenda in fugiat accusamus ea aspernatur quas provident praesentium non accusantium quia perferendis aliquam iusto sit culpa, officia sed similique eius? Eveniet, unde quidem.
        Quo tempore sunt totam incidunt. Assumenda iure ab nesciunt numquam quam natus voluptas voluptates praesentium, autem nobis molestiae aliquam repellat amet. Doloremque aut aspernatur, minus quas maiores consectetur minima molestiae.
        Eius libero, veniam quisquam ipsam animi neque explicabo eligendi. Assumenda facilis, corrupti hic neque sed praesentium temporibus ducimus soluta dolorem, autem iste officiis alias architecto fuga doloribus nostrum consequuntur ullam.
        Adipisci id nam aliquam! Assumenda iste doloribus ipsum autem debitis pariatur quia! Maxime cupiditate facilis quo itaque maiores quasi non esse saepe, magni aperiam vero numquam reiciendis quis illo ut.
        Nostrum voluptatem labore assumenda animi ab laboriosam libero. Laboriosam laudantium deleniti, perspiciatis numquam nesciunt totam distinctio fugiat facere eaque quisquam adipisci veritatis officia dolorum quo debitis veniam molestiae a hic?
        Non tempore dolore voluptate doloremque obcaecati nesciunt minus, numquam, libero nemo exercitationem mollitia quia, quae in rerum voluptas beatae? Enim tempora illum obcaecati fugit amet, consectetur beatae. Repellendus, officia iste?
        Accusamus a dolorum, delectus iure nostrum modi quia sit magni praesentium nobis! Porro velit nisi repellat id officiis tenetur numquam nobis modi incidunt nemo, quo ullam eaque! Nam, culpa iste.
      </p>
    </section>
    <section class="info">
      <h3> Even More Info Down Here </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quos libero. Consectetur molestias perspiciatis cumque aliquam delectus similique quam eaque impedit voluptatibus quasi accusamus corrupti beatae animi est, iste et.
        Deserunt magni modi expedita laudantium magnam sint fugit? Quod asperiores neque voluptatibus porro pariatur iusto, assumenda sunt optio, amet dolorem nostrum quibusdam enim alias quis nam, omnis harum veniam fugiat.
        Debitis magni ab alias tempora quia blanditiis culpa, necessitatibus ut veritatis odio. Ex possimus laboriosam dolorum sunt cum reiciendis quam ipsa, pariatur aliquid? Placeat delectus temporibus distinctio eaque voluptatibus commodi.
        Nostrum, facilis nulla odio in itaque non at eveniet fuga quidem perferendis cupiditate impedit. Assumenda, a repellat soluta veritatis provident ab, eius maiores quos quis fugit eligendi est inventore tempore?
        Qui est repellat sunt cumque facilis vel quae, beatae in fugiat aliquid illo ab commodi, ipsa ex cupiditate nihil minus corporis. Quia sit iusto, architecto enim tempore aperiam ea nemo!
      </p>
    </section>
  </div>

  <main class="graph-content">
    <app-visualization (clickNode)="onSigmaNodeClick($event)" (clickStage)="node = undefined" (nodeSelected)="onSigmaNodeDetails($event)" class="graph-underlay"></app-visualization>
  </main>
</div>
