// Custom properties
.overlay-container {
  --panel-padding: 0.7rem;
  --border-radius: 0.28rem;
  --fc-title: #ffffff;
  --fc-light: #F6F6F6;

}

@mixin glass-translucent {
  --glass-shadow: 0.4rem 0.5rem 0.5rem -0.4rem rgba(0,0,0,0.4);
  --glass-inner-refraction: inset 0 0 1.6rem 0.1rem hsla(0, 3%, 24%, 0.301);
  --border-light-source: 0.1rem solid hsla(0, 0%, 57%, 0.3);
  --border-opposing-light-source: 0.02rem solid hsla(0, 3%, 26%, 0.1);

  box-shadow:
    var(--glass-shadow),
    var(--glass-inner-refraction);
  border-left: var(--border-light-source);
  border-top: var(--border-opposing-light-source);
  border-right: var(--border-opposing-light-source);

  background: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(0.07rem);
}

@mixin glass-opaque {
  background: hsl(0 0% 0% / 0.8);
  backdrop-filter: blur(0.28rem);
}

@mixin panel-toggle-animation {
  transition:
    translate 280ms cubic-bezier(.4,.05,.18,.92),
    scale 150ms cubic-bezier(.54,.08,.1,.75) 260ms;
}

.overlay-container {
  position: absolute; // in relation to the entire page
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.graph-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  background: #eeeff1;
}

.side-panel-right {
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: var(--panel-padding);
  max-width: clamp(18vw, 25vw, 28vw);
  z-index: 1;
}

.panel-container-vertical {
  background-color: transparent;
  max-height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }
}

section.panel {
  @include glass-translucent();
  transition: 150ms;

  padding: 0.8rem;
  border-radius: var(--border-radius);
  color: white;

  margin-block: var(--panel-padding);
  margin-left: var(--panel-padding);
  padding-inline: 1.5em;
}

section.panel.subgraph {
  padding: 0.15rem;
  height: 40rem;
}

// Animate panel moving on/off screen
.default-collapse {
  translate: calc(100% + var(--panel-padding));
  scale: 96%;

  @include panel-toggle-animation();
}

.default-collapse[data-visible="true"] {
  translate: 0;
  scale: 100%;
}

.panel:hover, .panel:focus-visible {
  @include glass-opaque();
}
