<main class="graph-canvas">
  <app-visualization (clickNode)="onSigmaNodeClick($event)" (clickStage)="node = undefined" (nodeSelected)="onSigmaNodeDetails($event)" class="graph-underlay"></app-visualization>
</main>

<div class="ui-panel-overlay">
  <section class="details panel panel__top panel__right default-collapse" attr.data-visible="{{ !!node }}">
    <h2><span *ngIf="node"> Node #{{ node }} </span></h2>
    <p>
      <code>{{nodeDetails}}</code>
    </p>
  </section>
  <section #subgraph class="subgraph panel panel__right panel__bottom default-collapse" attr.data-visible="{{ !!node }}">
    <app-panel-resize-menu resize="both" class="subgraph-resize-menu"></app-panel-resize-menu>
    <app-visualization [ngStyle]="{ width: '45rem' }" ></app-visualization>
  </section>
</div>
