@mixin glass-translucent {
  --glass-shadow: 0.4rem 0.5rem 0.5rem -0.4rem rgba(0,0,0,0.4);
  --glass-inner-refraction: inset 0 0 1.6rem 0.1rem hsla(0, 3%, 24%, 0.301);
  --border-light-source: 0.1rem solid hsla(0, 0%, 57%, 0.3);
  --border-opposing-light-source: 0.02rem solid hsla(0, 3%, 26%, 0.1);

  box-shadow:
    var(--glass-shadow),
    var(--glass-inner-refraction);
  border-left: var(--border-light-source);

  // could make this a lot nicer with a gradient border image
  border-top: var(--border-opposing-light-source);
  border-right: var(--border-opposing-light-source);

  background: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(0.07rem);
}

@mixin glass-opaque {
  background: hsl(0 0% 0% / 0.8);
  backdrop-filter: blur(0.27rem);
}

@mixin panel-toggle-animation {
  // first is for the hover background (ideally shouldn't go here)
  transition: 150ms,
    translate 280ms cubic-bezier(.4,.05,.18,.92),
    scale 150ms cubic-bezier(.54,.08,.1,.75) 260ms;
}

// Graph rendering lives below all the UI panels
main.graph-canvas {
  --canvas-background: #eeeff1;

  position: absolute;
  inset: 0;
  overflow: hidden;

  background-color: var(--canvas-background);
}

.ui-panel-overlay {
  --panel-padding: 0.7rem;
  --border-radius: 0.28rem;
  --fc-title: #ffffff;
  --fc-light: #F6F6F6;

  position: absolute;
  overflow: hidden;
  inset: 0;

  pointer-events: none; // pass through mouse events to main graph
}

.panel {
  // Layout
  position: absolute;
  overflow: auto;
  z-index: 1;
  pointer-events: initial;  // capture mouse interaction on UI panels

  &__right {
    right: 0;
    margin-right: var(--panel-padding);
  }

  &__left {
    left: 0;
    margin-left: var(--panel-padding);
  }
  
  &__top {
    top: 0;
    margin-top: var(--panel-padding);
  }

  &__bottom {
    bottom: 0;
    margin-bottom: var(--panel-padding);
  }

  // Content and color
  @include glass-translucent();

  padding: 0.8rem;
  border-radius: var(--border-radius);
  color: white;

  padding-inline: 1.5em;
}

// Individual panel styling
.details {
  max-width: clamp(20vw, 65ch, 30vw);
}

.subgraph {
  overflow: hidden;
  --ideal-width: 45rem;

  width: var(--ideal-width);
  max-width: min(var(--ideal-width), 33vw);
  padding: 0.15rem;
  aspect-ratio: 16 / 9;
}

// Animate panel moving on/off screen
.default-collapse {
  translate: calc(100% + var(--panel-padding));
  scale: 100%;
  scale: 98%;

  @include panel-toggle-animation();
}

.default-collapse[data-visible="true"] {
  translate: 0;
  scale: 100%;
}

.panel:hover,
.panel:focus-visible {
  // TODO opacity transition for overlapping panels?
  // swapping z-index looks jerky compared to focus animations
  --top-z-index: 9999;

  @include glass-opaque();
  z-index: var(--top-z-index);
}
